.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar-container {
  position: relative;
}

.profile__avatar-btn {
  position: absolute;
  color: white;
  padding: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  visibility: hidden;
}

.profile__avatar-container-img {
  margin-right: 10px;
}
.profile__avatar-btn::after {
  content: "Edit Avatar";
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
  cursor: pointer;
}


.profile__edit-btn-img {
  margin-right: 10px;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 16px;
  font-weight: 500;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  line-height: 1;
  max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  max-width: 288px;
  font-size: 16px;
  line-height: 1;
  max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__edit-btn {
  margin-top: auto;
  margin-left: 0;
  padding: 0;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 16px;
  width: 120px;
  cursor: pointer;
}
.profile__new-post-btn {
  margin-left: auto;
  margin-top: auto;
  background-color: black;
  color: white;
  height: 52px;
  width: 152px;
  border-radius: 8px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar-btn {
  visibility: visible;
}

/* TODO - set content of ::after element to "" */
  .profile__avatar-btn::after {
    content: "";
  }

  .profile__avatar {
    margin: 0;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
  }

  .profile__column {
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .profile__description {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 32px;
    max-width: 288px;
  }

  .profile__name {
    margin: 0 0 12px;
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }
  .profile__new-post-btn {
    margin: 0;
    width: 100%;
  }
}
